<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Django</title>
</head>
<body>
    <h1>Witaj w Django</h1>
<ul>
    <li><a href="hello">Hello / Hello</a></li>
    <li><a href="czas">czas</a> - wersja tekstowa</li>
    <li><a href="czas_html">czas2</a> - HTML tworzony w funkcji</li>
    <li><a href="czas_szablon">czas3</a> - HTML tworzony szablonem</li>
    <li><a href="rozmowa">rozmowa</a> - przykład formularza</li>
    <li><a href="kalkulator">kalkulator</a> - wersja GET</li>
    <li><a href="kalkulator_post">kalkulator</a> - wersja POST</li>
    <li><a href="formularz">formularz</a> - różnego typu pola formularzy</li>

    <li><a href="sklep">sklep</a> - podgląd obiektowy</li>
    <li><a href="sklep.txt">sklep.txt</a> - zwykły tekst</li>
    <li><a href="sklep.html">sklep.html</a> - lista HTML</li>
    <li><a href="admin/">ADMIN</a> - panel administratora</li>
</ul>

</body>
</html>